.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f5f3;
    position: relative;
    overflow: hidden;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .error-code {
    font-size: 72px;
    font-weight: bold;
    color: #2D62ED;
    margin: 0;
  }
  
  .error-message {
    font-size: 24px;
    color: #3d5161;
  }
  
  .error-suggestion {
    font-size: 16px;
    color: #3d5161;
  }
  
  .animation {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .bubble {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2D62ED;
    margin: 0 10px;
    animation: float 2s ease-in-out infinite;
  }
  
  .bubble:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .bubble:nth-child(3) {
    animation-delay: 1s;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes arrow-bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px); /* Move left */
    }
  }
  
  .animate-arrow {
    animation: arrow-bounce 1s infinite alternate;
  }